<!DOCTYPE html>
<html>
  <head>
  <title>商品列表</title>
  <link rel="stylesheet" href="../styles/common.css" />
	<link rel="stylesheet" href="../styles/index.css" />
  </head>
  <body>

  <div class="top">
     商品列表
     <div class="right-box">
        <button class="c-btn">发布商品</button>
        <button class="logout-btn">退出登录</button>
     </div>
  </div>

  <div class="content">

  </div>
  
  <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="../js/index.js"></script>
  </body>
</html>