<!DOCTYPE html>
<html>
  <head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="../styles/common.css" />
	<link rel="stylesheet" href="../styles/login.css" />
  </head>
  <body>
	
	<div class="content">
			<div class="head">登录</div>
			<div class="line">
				<input type="text" class="inp name" placeholder="请输入用户名" />
			</div>
			<div class="line">
				<input type="password" class="inp password" placeholder="请输入密码" />
			</div>
			<div class="line">
				<button class="btn" type="button">登录</button>
				<p class="text-center">
					<a href="./register" class="go-to">还没账号？去注册</a>
				</p>
			</div>
	</div>

	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="../js/login.js"></script>
	</body>

</html>