<!DOCTYPE html>
<html>
  <head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="../styles/common.css" />
	<link rel="stylesheet" href="../styles/register.css" />
  </head>
  <body>
	
	<div class="content">
			<div class="head">注册</div>
			<div class="line">
				<input type="text" class="inp name" placeholder="请输入用户名" />
			</div>
			<div class="line">
				<input type="password" class="inp password" placeholder="请输入密码" />
            </div>
            <div class="line">
				<input type="password" class="inp repwd" placeholder="请再次输入确认密码" />
			</div>
			<div class="line">
                <button class="btn" type="button">注册</button>
                <p class="text-center">
					<a href="./login" class="go-to">已有账号？去登录</a>
				</p>
			</div>
	</div>

	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="../js/register.js"></script>
	</body>

</html>